doctype
html
  head
    title #{title}
    link(href='../trifler/css/app.css', rel='stylesheet')
  body
    include ./header.jade
    section.trifler
      div.container.clearfix
        div.inputbox.left
          span HTML
          textarea#html
        div.inputbox.right
          span CSS
          textarea#css
        div.inputbox.left
          span Javascript
          textarea#js
        div.outputbox.right#display
    include ./footer.jade
    script window.csrf = '#{csrf}';
    script(data-main='../trifler/js/app.js' src='/trifler/components/requirejs/require.js')
