doctype
html
  head
    title #{title}
    link(href='../trifler/css/app.css', rel='stylesheet')
  body
    include ./header.jade
    section.trifler
      div.container
        p #{message}
    include ./footer.jade
